div {
    display: flex;
    width: 600px;
    height: 430px;
}
div img {
    width: 0px;
    flex-grow: 2;
    object-fit:cover ;
    opacity: .8;
    transition: .5s ease;
}
div img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* 
div {
    display: grid;
    place-items: center;
} */